/* 
.image-wrapper {
    background-image: url('../../assests/images/item/img1.jpg');
    border:2px red solid;
} */

/* .hidden12 {
  /* max-height: 0;
  transition: max-height 5s ease-out; */
  /* transition: all ease 1s;
  overflow: hidden;
  background: #d5d5d5;
}

.active12 {
  max-height: 500px;
  transition: max-height 5s ease-in;
  transition: all ease 1s;
} */ 
