.rec.rec-arrow {
  border-radius: 10px;
  color: black !important;
  background-color: white !important;
  cursor: pointer;
}
.rec.rec-arrow:hover {
  color: black !important;
  background-color: white !important;
}
.rec.rec-arrow:disabled {
  cursor: pointer !important;
}
.rec-carousel-item:focus {
  outline: none;
  cursor: pointer;
}

.rec-carousel-item {
  height: auto;
}

.rec-pagination {
  display: none !important;
}

.rec-arrow {
  position: absolute;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
  transform: scale(0.8);
  box-shadow: none !important;
}

.rec-arrow-right {
  right: 1.8rem;
}
.rec-arrow-left {
  left: 1.8rem;
}

.rec-carousel-wrapper {
  position: relative;
  height: auto;
  width: 100% !important;
  /* border:2px green solid; */
}

.rec-carousel-wrapper:hover .rec-arrow {
  opacity: 1;
  visibility: visible;
  transition: all ease 0.5s;
}

.rec-swipable {
  height: 25rem;
  /* border:1px blue solid; */
}

.rec-item-wrapper {
  height: 100%;
  width: min-content !important;
  /* border:1px red solid; */
  /* width:auto !important; */
}

.rec-item-wrapper .ettAov {
  height: 100%;
  /* width:100% !important; */
}

.rec-item-wrapper .ettAov img {
  /* transition: all ease 0.5s; */
}

.rec-item-wrapper .ettAov img:hover {
  /* transform: scale(1.1); */
  /* transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s; */
}
