.slider img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: all ease-in-out 1.5s;
}

.slide {
  opacity: 0.5;
  max-width: 100%;
  overflow: hidden;
}

.current {
  opacity: 1;
  overflow: hidden;
  max-width: 100%;
}
