@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: IranSans;
    src: local('IranSans'),
      url(./assests/fonts/iransans/IRAN-SANS-Regular.ttf) format('truetype');
    /* url(./assests/fonts/IRANSansDN/IRANSansDN.ttf) format('truetype'); */
  }
}

/* body {
  background-color: cadetblue;
}

.header {
  width: 100%;
  top:0;
  left:0;
  background-color: burlywood;
  display:flex;
  align-items: center;
  justify-content: center;
  height:400px;
}

.gap {
  height:100vh;
}

img {
  margin:0 auto;
  display:block;
  height:auto;
  width:50%;
} */

.gap {
  height: 100vh;
}

body {
  direction: rtl;
  font-family: IranSans;
  overflow-x: hidden !important;
  /* overflow: hidden; */
}

/* html {
  padding: 0 !important;
  overflow-y: scroll !important ;
} */

*::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.4rem;
  scroll-behavior: smooth !important;
}

*::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 9px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(189, 181, 181);
  border-radius: 9px;
}
